.align-flex {
  display: flex;

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.vertical {
    justify-content: center;
  }

  &.between {
    justify-content: space-between;

    &.vertical {
      align-items: center;
    }
  }

  &.is-column {
    flex-direction: column;
  }
}
