.align-flex {
  display: flex;

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.is-column {
    flex-direction: column;

    &.vertical {
      justify-content: center;
    }
  }

  &.vertical:not(.is-column) {
    align-items: center
  }
}

.text-center {
  text-align: center;
}
