//COLORS
$main-color: #654bf0;
$light-color: #ffffff;
$gray: #e8e8e8;
$light-gray: #f7f7f7;
$dark-color: #000000;
$category-color: #c29be4;
$favorite-color: #f4a437;
$action-color: #7925d4;

//FONTS
$base-font: "Montserrat", sans-serif;
$secondary-font: "Open Sans", sans-serif;
