
//UTILITIES
@import 'utilities/reset';
@import 'utilities/variables';
@import 'utilities/alignments';

@import 'base';

//LAYOUTS
@import 'layouts/nav';

//COMPONENTS
@import 'components/buttons';
@import 'components/inputs';

//PAGES
@import 'pages/landing';
