.button {
  font-weight: 500;

  &--ghost {
    background: transparent;
    border: 2px solid $main-color;
    color: $main-color;
  }

  &--small {
    border-radius: 3px;
    padding: 5px 10px;
  }

}
