.card {
  &--place {
    width: 25%;

    & + & {
      padding-left: 20px;
    }

    &__bg {
      background-image: url("../../images/food.jpg");
      background-size: cover;
      height: 180px;
      margin-bottom: 10px;
      position: relative;
    }

    .tag {
      &__container {
        @extend .align-flex;
        @extend .center;
        position: absolute;
        right: 10px;
        top: 10px;
      }

      &--price {
        background-color: $action-color;
        border-radius: 10px;
        color: $light-color;
        font-size: 10px;
        padding: 5px 8px;
      }

      &--favorite {
        @extend .tag--price;
        background-color: $favorite-color;
        padding: 2px 5px;

        &__image {
          height: 15px;
        }
      }

      &--favorite + &--price { margin-left: 10px; }
    }

    &--category {
      color: $category-color;
      display: block;
      font-size: 15px;
      font-weight: 600;
    }

    &__title {
      display: block;
      font-size: 18px;
      font-weight: 600;
      margin: 10px 0;
    }

    &--location {
      margin-bottom: 5px;

      &__image {
        height: 20px;
      }

      &__text {
        font-family: $secondary-font;
        font-size: 14px;
        font-weight: 600;
      }
    }

    &--raiting {
      &__image {
        height: 20px;
      }
    }
  }

  &--experiences {
    @extend .align-flex;
    @extend .vertical;
    background-image: url('../../images/experiences-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: $light-color;
    height: 350px;
    font-weight: 600;

    &--info__container {
      padding: 0 30px;
    }

    &__name {
      font-size: 14px;
      text-transform: uppercase;
    }

    &__title {
      font-size: 32px;
      margin: 10px 0;
    }

    &__author {
      font-size: 15px;
      font-weight: 400;
    }
  }
}
