.place__card {
  width: 25%;

  & + & {
    padding-left: 20px;
  }

  &__container {
    margin-bottom: 30px;
  }

  &__bg {
    background-image: url("../../images/food.jpg");
    background-size: cover;
    height: 180px;
    position: relative;

    .price__tag {
      background-color: $action-color;
      border-radius: 10px;
      color: $light-color;
      font-size: 10px;
      padding: 5px 8px;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .favorite {
      @extend .price__tag;

      background-color: $favorite-color;
      right: 50px;
      padding: 2px 5px;

      &__image {
        height: 15px;
      }
    }
  }

  .category {
    color: $category-color;
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0;
  }

  &__title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .location {
    margin-bottom: 5px;

    &__image {
      height: 20px;
    }

    &__text {
      font-family: $secondary-font;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .rating {
    &__image {
      height: 20px;
    }
  }
}
