.nav {
  border-bottom: 2px solid $gray;
  box-shadow: 0 1px 5px $gray;
  font-size: 14px;
  padding: 20px 0;

  &__link {
    border-right: 1px solid gray;
    margin-right: 8px;
    padding: 8px;
  }
}
