.nav {
  border-bottom: 2px solid $light-gray;
  box-shadow: 0 1px 5px $light-gray;
  font-size: 14px;
  padding: 20px 40px;

  &__link {
    border-right: 1px solid gray;
    margin-right: 8px;
    padding: 8px;
  }
}
