.title {
  font-weight: 600;

  &--main {font-size: 32px; }
  &--secondary {font-size: 18px; }
}

.link--main {
  @extend .title--secondary;
  color: $action-color;
  display: block;
  text-decoration: underline;
}
