.header__intro {
  height: 30vh;
  padding: 40px 0;

  .title--main {
    margin-bottom: 40px;
    line-height: 1.5;
    width: 40%;
  }

  .input--search { width: 60%; }

  .button + .button,
  .input--search + .button { margin-left: 10px };


}

.intro--places {
  .title--secondary {
    margin-bottom: 30px;
  }
}
