---
title: Welcome to Plazes
---

<nav class="nav">
  <div class="container align-flex between vertical">
    <div>
      <a href="#" class="nav__logo">Plazes</a>
    </div>
    <div>
      <a href="#" class="nav__link">Descubrir Favoritos</a>
      <a href="#" class="button button--ghost button--small">Iniciar Sesión</a>
    </div>
  </div>
</nav>

<header class="header__intro align-flex vertical is-column">
  <div class="container">
    <h1 class="title--main">Descubre lugares interesantes a donde ir por locales como tu</h1>
    <form class="form--search">
      <input type="search" name="search" placeholder="Prueba con México" class="input--search">
      <input type="submit" value="Buscar" class="button button--primary button--large">
      <a href="#" class="button button--ghost button--large">Crea tu lista</a>
    </form>
  </div>
</header>

<section class="intro--places">
  <div class="container">
    <h2 class="title--secondary">Lugares Recientes</h2>
    <div class="card--place__container align-flex between">
      <div class="card--place">
        <div class="card--place__bg">
          <div class="tag__container">
            <div class="tag--price">
              <span>$$$</span>
            </div>
          </div>
        </div>
        <a href="#" class="card--place--category">Bar</a>
        <a href="#" class="card--place__title">Maverick</a>
        <div class="align-flex vertical card--place--location">
          <img src="images/location.png" class="card--place--location__image">
          <p class="card--place--location__text">Monterrey</p>
        </div>
        <div class="align-flex vertical card--place--raiting">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star.png" class="card--place--raiting__image">
        </div>
      </div>
      <div class="card--place">
        <div class="card--place__bg">
          <div class="tag__container">
            <div class="tag--favorite">
              <img src="images/star-white.png" class="tag--favorite__image">
            </div>
            <div class="tag--price">
              <span>$$$</span>
            </div>
          </div>
        </div>
        <a href="#" class="card--place--category">Bar</a>
        <a href="#" class="card--place__title">Maverick</a>
        <div class="align-flex vertical card--place--location">
          <img src="images/location.png" class="card--place--location__image">
          <p class="card--place--location__text">Monterrey</p>
        </div>
        <div class="align-flex vertical card--place--raiting">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star.png" class="card--place--raiting__image">
        </div>
      </div>
      <div class="card--place">
        <div class="card--place__bg"></div>
        <a href="#" class="card--place--category">Bar</a>
        <a href="#" class="card--place__title">Maverick</a>
        <div class="align-flex vertical card--place--location">
          <img src="images/location.png" class="card--place--location__image">
          <p class="card--place--location__text">Monterrey</p>
        </div>
        <div class="align-flex vertical card--place--raiting">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star.png" class="card--place--raiting__image">
        </div>
      </div>
      <div class="card--place">
        <div class="card--place__bg"></div>
        <a href="#" class="card--place--category">Bar</a>
        <a href="#" class="card--place__title">Maverick</a>
        <div class="align-flex vertical card--place--location">
          <img src="images/location.png" class="card--place--location__image">
          <p class="card--place--location__text">Monterrey</p>
        </div>
        <div class="align-flex vertical card--place--raiting">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star-fill.png" class="card--place--raiting__image">
          <img src="images/star.png" class="card--place--raiting__image">
        </div>
      </div>
    </div>
    <a href="#" class="link--main text-center">Mostrar más recientes</a>
  </div>
</section>

<section class="intro--experiences">
  <div class="container">
    <h2 class="title--secondary">Tipos de experiencia</h2>
    <div class="card--experiences__container">
      <div class="card--experiences">
        <div class="card--experiences--info__container">
          <span class="card--experiences__name">Lista</span>
          <h2 class="card--experiences__title">Restaurantes Hogareños</h2>
          <div class="align-flex vertical">
            <div class="avatar"></div>
            <h6 class="card--experiences__author">Por Eduardo Higareda</h6>
          </div>
        </div>
      </div>
      <div class="card--experiences">
        <div class="card--experiences--info__container">
          <span class="card--experiences__name">Lista</span>
          <h2 class="card--experiences__title">Restaurantes Hogareños</h2>
          <div class="align-flex vertical">
            <div class="avatar"></div>
            <h6 class="card--experiences__author">Por Eduardo Higareda</h6>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="link--main text-center">Mostrar más recientes</a>
  </div>
</section>
