---
title: Welcome to Plazes
---

<nav class="nav align-flex between vertical">
  <div>
    <a href="#" class="nav__logo">Plazes</a>
  </div>
  <div>
    <a href="#" class="nav__link">Descubrir Favoritos</a>
    <a href="#" class="button button--ghost button--small">Iniciar Sesión</a>
  </div>
</nav>
