---
title: Welcome to Plazes
---

<nav class="nav">
  <div class="container align-flex between vertical">
    <div>
      <a href="#" class="nav__logo">Plazes</a>
    </div>
    <div>
      <a href="#" class="nav__link">Descubrir Favoritos</a>
      <a href="#" class="button button--ghost button--small">Iniciar Sesión</a>
    </div>
  </div>
</nav>

<div class="container">
  <header class="intro__header align-flex vertical is-column">
    <h1 class="main__title">Descubre lugares interesantes a donde ir por locales como tu</h1>
    <div>
      <form class="search__form">
        <input type="search" name="search" placeholder="Prueba con México" class="search__input">
        <input type="submit" value="Buscar" class="button button--primary button--large">
      </form>
      <a href="#" class="button button--ghost button--large">Crea tu lista</a>
    </div>
  </header>

  <section class="intro__places">
    <h2 class="secondary__title">Lugares Recientes</h2>
    <div class="place__card__container align-flex between">
      <div class="place__card">
        <div class="place__card__bg">
          <div class="price__tag">
            <span>$$$</span>
          </div>
        </div>
        <a href="#" class="category">Bar</a>
        <a href="#" class="place__card__title">Maverick</a>
        <div class="align-flex vertical location">
          <img src="images/location.png" class="location__image">
          <p class="location__text">Monterrey</p>
        </div>
        <div class="align-flex vertical rating">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star.png" class="rating__image">
        </div>
      </div>
      <div class="place__card">
        <div class="place__card__bg">
          <div class="price__tag">
            <span>$$$</span>
          </div>
          <div class="favorite">
            <img src="images/star-white.png" class="favorite__image">
          </div>
        </div>
        <a href="#" class="category">Bar</a>
        <a href="#" class="place__card__title">Maverick</a>
        <div class="align-flex vertical location">
          <img src="images/location.png" class="location__image">
          <p class="location__text">Monterrey</p>
        </div>
        <div class="align-flex vertical rating">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star.png" class="rating__image">
        </div>
      </div>
      <div class="place__card">
        <div class="place__card__bg">
        </div>
        <a href="#" class="category">Bar</a>
        <a href="#" class="place__card__title">Maverick</a>
        <div class="align-flex vertical location">
          <img src="images/location.png" class="location__image">
          <p class="location__text">Monterrey</p>
        </div>
        <div class="align-flex vertical rating">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star.png" class="rating__image">
        </div>
      </div>
      <div class="place__card">
        <div class="place__card__bg">
        </div>
        <a href="#" class="category">Bar</a>
        <a href="#" class="place__card__title">Maverick</a>
        <div class="align-flex vertical location">
          <img src="images/location.png" class="location__image">
          <p class="location__text">Monterrey</p>
        </div>
        <div class="align-flex vertical rating">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star-fill.png" class="rating__image">
          <img src="images/star.png" class="rating__image">
        </div>
      </div>
    </div>
    <a href="#" class="main__link text-center">Mostrar más recientes</a>
  </section>
</div>
